#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <500>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Shift/Caps Lock Tap Dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };

        parenthesis: parenthesis {
            compatible = "zmk,behavior-tap-dance";
            label = "PARENTHESIS";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS>, <&kp RIGHT_PARENTHESIS>;
        };

        bracket: bracket {
            compatible = "zmk,behavior-tap-dance";
            label = "BRACKET";
            #binding-cells = <0>;
            bindings = <&kp RBKT>, <&kp LA(PIPE)>;
        };

        brace: brace {
            compatible = "zmk,behavior-tap-dance";
            label = "BRACE";
            #binding-cells = <0>;
            bindings = <&kp RBRC>, <&kp PIPE>;
        };
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            bindings = <
&kp ESC    &kp Q  &kp W  &kp E     &kp R  &kp T                                  &mmv MOVE_UP                     &kp Y        &kp U  &kp I            &kp O    &kp P     &kp BSPC
&kp LSHFT  &kp A  &kp S  &kp D     &kp F  &kp G                  &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp H        &kp J  &kp K            &kp L    &kp SEMI  &kp ENTER
&kp LCTRL  &kp Z  &kp X  &kp C     &kp V  &kp B        &trans                    &mmv MOVE_DOWN                   &kp N        &kp M  &kp COMMA        &kp DOT  &kp FSLH  &kp RSHIFT
                         &kp LALT  &mo 2  &lt 4 SPACE                                                             &lt 3 ENTER  &mo 1  &kp RIGHT_SHIFT
            >;
        };

        lower_numer {
            display-name = "NUMBER";
            bindings = <
&kp TAB  &trans  &kp N9  &kp N8  &kp N7  &trans                          &kp HASH            &trans          &kp PG_DN       &kp PG_UP     &trans           &parenthesis  &kp LBKT
&trans   &trans  &kp N6  &kp N5  &kp N4  &trans                  &kp N0  &trans    &kp DLLR  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT  &bracket      &kp EXCL
&trans   &trans  &kp N3  &kp N2  &kp N1  &kp N0        &trans            &kp STAR            &kp LEFT        &kp DOWN        &kp UP        &kp RIGHT        &brace        &kp MINUS
                         &trans  &trans  &trans                                              &kp RSHIFT      &none           &kp LALT
            >;
        };

        raise_symbol {
            display-name = "SYMBOL";
            bindings = <
&kp LA(TAB)   &trans  &trans  &trans  &trans  &trans                    &kp HASH            &kp KP_SLASH  &kp MINUS  &kp PLUS  &kp SQT    &kp EXCL   &kp LA(DELETE)
&out OUT_BLE  &trans  &trans  &trans  &trans  &trans            &kp N0  &trans    &kp DLLR  &kp N0        &kp STAR   &kp HASH  &kp DLLR   &kp SQT    &kp GRAVE
&out OUT_USB  &trans  &trans  &trans  &trans  &trans  &trans            &kp STAR            &kp EQUAL     &kp AT     &kp EXCL  &kp RA(W)  &kp RA(W)  &kp AMPS
                              &trans  &none   &trans                                        &kp RET       &trans     &trans
            >;
        };

        fn_layer {
            display-name = "FN";
            bindings = <
&studio_unlock  &trans  &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0  &trans                             &rgb_ug RGB_BRI                   &kp F7  &kp F8  &kp F9  &kp F10  &trans  &trans
&bootloader     &trans  &trans        &bt BT_SEL 4  &bt BT_SEL 3  &trans            &rgb_ug RGB_EFR  &rgb_ug RGB_TOG  &rgb_ug RGB_EFF  &kp F4  &kp F5  &kp F6  &kp F11  &trans  &bootloader
&sys_reset      &trans  &trans        &trans        &trans        &trans  &trans                     &rgb_ug RGB_BRD                   &kp F1  &kp F2  &kp F3  &kp F12  &trans  &sys_reset
                                      &trans        &trans        &trans                                                               &none   &trans  &kp RALT
            >;
        };

        rec_layer {
            bindings = <
&trans      &trans  &trans  &trans        &trans        &trans                        &kp C_VOL_UP          &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP  &msc SCRL_RIGHT  &trans  &trans
&trans      &trans  &trans  &mkp MCLK     &mkp RCLK     &mkp LCLK             &trans  &kp C_MUTE    &trans  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT  &trans  &kp PG_UP
&sys_reset  &trans  &trans  &kp C_VOL_DN  &kp C_VOL_UP  &kp C_MUTE  &trans            &kp C_VOL_DN          &kp LEFT_ARROW  &kp DOWN        &kp UP        &kp RIGHT        &trans  &kp PG_DN
                            &trans        &trans        &none                                               &trans          &trans          &trans
            >;

            label = "REC";
        };
    };
};
