#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Shift/Caps Lock Tap Dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };

        parenthesis: parenthesis {
            compatible = "zmk,behavior-tap-dance";
            label = "PARENTHESIS";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS>, <&kp RIGHT_PARENTHESIS>;
        };

        bracket: bracket {
            compatible = "zmk,behavior-tap-dance";
            label = "BRACKET";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACKET>, <&sk RALT(N6)>;
        };
        brace: brace {
            compatible = "zmk,behavior-tap-dance";
            label = "BRACE";
            #binding-cells = <0>;
            bindings = <&kp RBRC>, <&kp PIPE>;
        };
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            bindings = <
&kp ESC    &kp Q  &kp W  &kp E     &kp R  &kp T                                  &mmv MOVE_UP                     &kp Y        &kp U  &kp I            &kp O    &kp P     &kp BSPC
&kp LSHFT  &kp A  &kp S  &kp D     &kp F  &kp G                  &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp H        &kp J  &kp K            &kp L    &kp SEMI  &kp ENTER
&kp LCTRL  &kp Z  &kp X  &kp C     &kp V  &kp B        &trans                    &mmv MOVE_DOWN                   &kp N        &kp M  &kp COMMA        &kp DOT  &kp FSLH  &kp MINUS
                         &kp LALT  &mo 2  &lt 4 SPACE                                                             &lt 3 ENTER  &mo 1  &kp RIGHT_SHIFT
            >;
        };

        lower_numer {
            display-name = "NUMBER";
            bindings = <
&trans  &trans  &trans  &kp N7  &kp N8        &kp N9                        &kp HASH            &trans          &trans          &trans        &trans           &msc SCRL_LEFT  &msc SCRL_RIGHT
&trans  &trans  &trans  &kp N4  &kp N5        &kp N6                &kp N0  &trans    &kp DLLR  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT  &kp PG_UP       &msc SCRL_UP
&trans  &trans  &trans  &kp N1  &kp N2        &kp N3      &trans            &kp STAR            &kp LEFT_ARROW  &kp DOWN        &kp UP        &kp RIGHT        &kp PG_DN       &msc SCRL_DOWN
                        &trans  &kp NUMBER_0  &kp DOLLAR                                        &trans          &td0            &kp DEL
            >;
        };

        raise_symbol {
            display-name = "SYMBOL";
            bindings = <
&trans  &trans        &trans        &trans  &trans  &trans                       &kp HASH            &kp KP_SLASH  &kp MINUS  &kp PLUS  &kp AT     &parenthesis  &kp BSPC
&trans  &trans        &trans        &trans  &trans  &trans               &kp N0  &trans    &kp DLLR  &kp N0        &kp STAR   &kp HASH  &kp DLLR   &bracket      &kp GRAVE
&trans  &out OUT_USB  &out OUT_BLE  &none   &none   &trans     &trans            &kp STAR            &kp EQUAL     &kp AT     &kp EXCL  &kp QMARK  &brace        &kp TILDE
                                    &trans  &trans  &kp SPACE                                        &kp RET       &trans     &trans
            >;
        };

        fn_layer {
            display-name = "Fn";
            bindings = <
&studio_unlock  &trans  &trans  &kp F7  &kp F8  &kp F9                             &rgb_ug RGB_BRI                   &kp F10  &trans  &trans  &trans  &trans  &trans
&bootloader     &trans  &trans  &kp F4  &kp F5  &kp F6            &rgb_ug RGB_EFR  &rgb_ug RGB_TOG  &rgb_ug RGB_EFF  &kp F11  &trans  &trans  &trans  &trans  &bootloader
&sys_reset      &trans  &trans  &kp F1  &kp F2  &kp F3  &trans                     &rgb_ug RGB_BRD                   &kp F12  &trans  &trans  &trans  &trans  &sys_reset
                                &trans  &trans  &trans                                                               &trans   &trans  &trans
            >;
        };

        rec_layer {
            bindings = <
&trans  &trans  &trans  &trans        &trans        &trans                        &kp C_VOL_UP          &trans          &trans          &trans        &trans           &trans  &trans
&trans  &trans  &trans  &mkp RCLK     &mkp LCLK     &mkp MCLK             &trans  &kp K_MUTE    &trans  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT  &trans  &trans
&trans  &trans  &trans  &kp C_VOL_DN  &kp C_VOL_UP  &kp K_MUTE  &trans            &kp C_VOL_DN          &trans          &trans          &trans        &trans           &trans  &trans
                        &trans        &trans        &trans                                              &trans          &trans          &trans
            >;

            label = "REC";
        };
    };
};
